body {
    background-image: url("../img/bg.jpg");
     font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.panel {
    background-color: rgba(255, 255, 255, 0.9);
}

#extra {
    display: none;
}
.btn {
    margin: 5px;
    margin-top: 0px;
}
.panel-default{
    margin-top: 30px;
    width: 280px;
}
img{
    width:272px;
    height:190px;
    padding-left:5px;
    padding-bottom: 10px;
}
.panel-body{
    padding-top: 7px;
}
.box {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 89px;
    margin-right: 89px;
    padding: 30px 15px;
    padding-right: 25px;
    background: #fff;
    background: rgba(255, 255, 255, 0.9);
}
#micro img{
  height: 250px;
  width: 250px;
  border:1px solid black;
}